<section class="container box">
  <ul class="categories">
    <li class="thumb">
      <button type="button" class="show-more-btn category-btn">
        Categories
        <svg class="open-icon" width="14" height="14">
          <use href="./images/icons.svg#icon-arrow-down"></use>
        </svg>
      </button>
      <button type="button" class="show-more-btn others-btn js-others-btn">
        Others
        <svg class="open-icon" width="14" height="14">
          <use href="./images/icons.svg#icon-arrow-down"></use>
        </svg>
      </button>
      <ul class="categories-menu"></ul>
    </li>
  </ul>
  <p class="date-text">Search date news</p>
  <div class="button-box">
    <input
      class="calendar__btn simple-calendar-open"
      type="button"
      value="00/00/000"
    />
    <svg class="calendar__img calendar__img--left" width="17" height="17">
      <use href="./images/simple-calendar.svg#icon-calendar"></use>
    </svg>
    <svg class="calendar__img calendar__img--right" width="15" height="9">
      <use href="./images/simple-calendar.svg#icon-arrow-down"></use>
    </svg>
  </div>
</section>
