<section class="no-news is-hidden">
  <div class="container">
    <p class="no-news__tite">We haven’t found news from this category</p>
    <picture class="no-news__picture">
      <source
        media="(min-width:1280px)"
        srcset="
          ./images/no-news/no-news-ds@1x.png 1x,
          ./images/no-news/no-news-ds@2x.png 2x
        "
      />
      <source
        media="(min-width:768px)"
        srcset="
          ./images/no-news/no-news-tab@1x.png 1x,
          ./images/no-news/no-news-tab@2x.png 2x
        "
      />
      <source
        media="(min-width:427px)"
        srcset="
          ./images/no-news/no-news-mob@1x.png 1x,
          ./images/no-news/no-news-mob@2x.png 2x
        "
      />
      <img
        src="./images/no-news/no-news-mob@1x.png"
        alt="newspaper image"
        class="no-news__img"
      />
    </picture>
  </div>
</section>
