// .favorite-wrapper {
//   @include flexed;
// }

.favorite-list {
  display: flex;

  flex-wrap: wrap;

  padding-top: 50px;
}
.news__item-fav {
  @media screen and (min-width: 1280px) {
    width: 393px;
    margin-right: 30px;
    display: inline-flex;
    flex-direction: column;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }

  margin-bottom: 30px;

  margin-right: auto;

  @media screen and (max-width: 767px) {
    height: 630px;
  }
  @media screen and (min-width: 768px) and(max-width:1279px) {
    width: 351px;
    height: 675px;
    display: inline-flex;
    flex-direction: column;
    margin-right: 30px;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
}

.navlink {
  position: relative;
}

.navlink {
  position: relative;
}

.navlink--current {
  color: #111321;

  &::after {
    content: '';

    /* вынимаем этот элемент из потока */
    position: absolute;
    bottom: -2px;
    left: -5px;
    display: block;
    width: 120%;
    height: 1px;
    background-color: #4440f7;
  }
}
.no-news__box {
  margin-left: auto;
  margin-right: auto;
}
.no-news__text {
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  @media screen and (min-width: 768px) {
    font-size: 40px;
    line-height: 55px;
  }
  text-align: center;
  letter-spacing: -0.01em;

  color: #111321;
}
.no-news__image {
  @media screen and (min-width: 768px) {
    width: 600px;
  }
}
