// тут все импорты компонентов
@import './header.scss';
@import './no-news.scss';
@import './favorite';
@import './news-section.scss';
@import './read-accordion.scss';
@import './simple-calendar.scss';
@import './calendar.scss';
@import './node_modules/vanillajs-datepicker/sass/datepicker';
@import './categories.scss';
@import './weather-block';
@import './burger-menu';
@import './pagination';
@import './chekbox-toggle-theme';
@import './read';
