$media-max: (
  'mobile': 767px,
  'tablet': 1279px,
);

$media-min: (
  'mobile-resp': 427px,
  'tablet': 768px,
  'desktop': 1280px,
);

@mixin media-max($breakpoint) {
  @each $breakpoints, $size in $media-max {
    @if $breakpoint==$breakpoints {
      @media screen and (max-width: $size) {
        @content;
      }
    }
  }
}

@mixin media-min($breakpoint) {
  @each $breakpoints, $size in $media-min {
    @if $breakpoint==$breakpoints {
      @media screen and (min-width: $size) {
        @content;
      }
    }
  }
}

@mixin retina {
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}
